<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:fragment="head"
      th:replace="layout/layout :: head">


    <meta charset="UTF-8">
    <title>Menu principal</title>

</head>
<body>
<datalist id="dataCuentas" th:fragment="Optionbuscar">
    <option th:each="valor : ${listaCatalogo}" th:value="${valor.codigo}"
            th:text="${valor.codigo +' '+ valor.nombre}" th:name="${valor.id}"></option>
</datalist>


</body>
</html>