<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head th:fragment="head"
      th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<!-- Page content-->
<div class="container-fluid" layout:fragment="page-content">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <div th:insert="~{modalNuevoCatalogo}">
        <!--Aqui se mostrara la modal de nuevo catálogo-->

    </div>

    <div class="container ">
        <div class="row justify-content-start">
            <div class="col-md-12 p-3 border border-secondary mt-3">
                <div class="row p-2">


                    <div class="col-md-3 align-self-start ">
                        <caption><h1 th:text="${tituloDeLaPagina}"/></caption>
                        <!--Muestra el mensaje que viene del back-end-->
                    </div>
                    <div class="col-md-3 align-self-start ">
                    </div>

                    <div class="col-md-6 align-self-end ">


                        <form th:action="@{/Catalogo}" method="GET">
                            <div class="row">
                                <div class="col-md-7 align-self-end ">

                                    <input type="text" class="form-control" name="buscar" id="buscar"
                                           th:value="${buscar}"
                                           placeholder="Buscar...">
                                </div>
                                <div class="col-md-5 align-self-end ">
                                    <input type="submit" class="btn btn-primary col-8" value="Buscar"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-3 align-self-start ">
                        <!-- Button trigger modal -->

                        <a class="btn btn-success col-8" data-bs-toggle="modal"
                           data-bs-target="#nuevoCatalogo"><i class="fas fa-user-plus"></i> Añadir Cuenta</a>
                        <!--Boton para mostrar la modal de nuevo-->
                    </div>

                    <div class="col-md-3 align-self-end ">


                    </div>

                    <div class="col-md-3 align-self-end ">
                        <a href="/Catalogo/manual" class="btn btn-secondary col-8">
                            Exportar Manual
                        </a>
                    </div>
                    <div class="col-md-3 align-self-end ">
                        <a href="/Catalogo/reporte" class="btn btn-info col-8">
                            Exportar Catalogo
                        </a>

                    </div>


                </div>
                <div class="row p-2 border-top">
                    <div class="col-md-12">
                        <table class="table caption-top">

                            <thead>
                            <tr>
                                <th scope="col align-center">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Saldo de cuenta</th>
                                <th scope="col">Tipo de cuenta</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="catalogo : ${catalogos}">
                                <th scope="row" th:text="${catalogo.codigo}"/>
                                <td th:text="${catalogo.nombre}"/>
                                <td th:text="${catalogo.saldoCuenta}"/>
                                <td th:text="${catalogo.tipoCuenta}"/>
                                <td>

                                    <!--Inicio Modal de descripción-->

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary"  th:attr="data-bs-target='#staticBackdrop'+ *{catalogo.codigo}" data-bs-toggle="modal" >
                                        <i class="fas fa-info-circle"></i> Mostrar
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="*{'staticBackdrop'+ {catalogo.codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Descripción de la cuenta:
                                                         </h5>
                                                    <h7 th:text="' Codigo: '+*{catalogo.codigo}+' - Nombre: '+*{catalogo.nombre}"/>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        <p th:text="*{catalogo.descripcion}"/>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Fin de modal de descripción-->


                                </td>
                                <td>


                                    <a class="btn btn-warning" data-bs-toggle="modal"
                                       th:attr="data-bs-target='#modificarCatalogo'+ *{catalogo.codigo}"><i
                                            class="fas fa-edit"></i>Editar</a>


                                    <!--Inicio del Moda-->
                                    <div class="modal fade" th:id="*{'modificarCatalogo'+ {catalogo.codigo}}"
                                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modificar
                                                        Cuenta </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form th:action="@{/Catalogo/modificar}" method="post">

                                                    <div class="modal-body">

                                                        <div class="mb-3">
                                                            <label for="codigo" class="col-form-label">Código:</label>
                                                            <input type="text" class="form-control"
                                                                   th:value="*{catalogo.codigo}" readonly id="codigo"
                                                                   name="codigo">

                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="nombre" class="col-form-label">Nombre:</label>
                                                            <input type="text" class="form-control"
                                                                   th:value="*{catalogo.nombre}" id="nombre"
                                                                   name="nombre" autofocus="autofocus"
                                                                   placeholder="Ingrese el nombre de la cuenta">

                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="saldo_cuenta" class="col-form-label">Saldo de
                                                                cuenta:</label>
                                                            <select class="form-select form-select-sm"
                                                                    aria-label=".form-select-lg example"
                                                                    id="saldo_cuenta" name="saldo_cuenta">
                                                                <option selected th:value="${catalogo.saldoCuenta}"
                                                                        th:text="${catalogo.saldoCuenta}"></option>
                                                                <option th:value="'Deudor'">Deudor</option>
                                                                <option th:value="'Acreedor'">Acreedor</option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="tipo_cuenta" class="col-form-label">Tipo de
                                                                cuenta:</label>
                                                            <select class="form-select form-select-sm"
                                                                    aria-label=".form-select-lg example"
                                                                    id="tipo_cuenta" name="tipo_cuenta">
                                                                <option selected th:value="${catalogo.tipoCuenta}"
                                                                        th:text="${catalogo.tipoCuenta}"></option>
                                                                <option th:value="'Resumen'">Resumen</option>
                                                                <option th:value="'Detalle'">Detalle</option>

                                                            </select>
                                                        </div>
                                                        <div class="form-floating">
                                                            <textarea class="form-control"
                                                                      placeholder="Ingrese la descripción de está cuenta" id="descripcion"
                                                                      name="descripcion" style="height: 100px" th:text="${catalogo.descripcion}">

                                                            </textarea>
                                                            <label for="descripcion">Descripción</label>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal"><i class="fas fa-backward"></i>
                                                            Cancelar
                                                        </button>
                                                        <input type="submit" class="btn btn-primary " value="Guardar"/>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Fin de modal-->


                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger mb-3
                                        " onclick="eliminar(this)"><i class="fas fa-trash-alt"></i>
                                        Eliminar
                                    </button>
                                    <!--Agregamos el boton modificar este va a un script y
                                    luego segun respuesta llega al formulario de abajo para segir con el proceso-->
                                    <form th:action="@{/Catalogo/{id}/eliminar/(id=${catalogo.id})}"
                                          method="post"></form>
                                </td>
                                </td>
                                </td>

                            </tr>


                            </tbody>

                        </table>

                        <div class="row">

                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <p th:text="${pie}"></p>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:each="page : ${pages}">
                                            <a class="page-link" th:href="@{|/Catalogo/?page=${page}|}"
                                               th:text="${page}"></a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>


<th:block layout:fragment="page-scripts">
    <link rel="stylesheet" th:href="@{sweetalert2/sweetalert2.min.css}">
    <script th:src="@{/sweetalert2/sweetalert2.min.js}"></script>
    <div th:if="${msgExito != null}">
        <script>
            var dato = "Su transacción ha sido exitosa!";
            Swal.fire(
                dato,
                '!ya puedes usarla¡',
                'success'
            )
        </script>
    </div>
    <div th:if="${msgErrorELiminarCuenta != null}">
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'No se puede eliminar, está cuenta contiene sub cuentas!',

            })
        </script>
    </div>
    <div th:if="${msgErrorNoExisteDatos != null}">
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'No se puede agregar, Está cuenta no tiene cuenta principal!',

            })
        </script>
    </div>
    <div th:if="${msgErrorDatos != null}">
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Estos datos ya éxiste ó campos vacíos!',

            })
        </script>
    </div>

    <script>

        function mostrarModal() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Estamos en mantenimiento!',

            })
        }

    </script>
    <script>

        function eliminar(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Estás seguro que deseas cambiar de estado?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, cambiar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    id.nextElementSibling.submit();

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'Su cuenta no ha sido eliminada de estado. :)',
                        'error'
                    )
                }
            })
        }
    </script>
</th:block>


</body>
</html>