<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:fragment="head"
      th:replace="layout/layout :: head">


    <meta charset="UTF-8">
    <title>Menu principal</title>
</head>
<body>
<!-- Page content-->
<div class="container-fluid" layout:fragment="page-content">


    <div class="row border p-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    Bienvenido al sistema contable <p th:text="${usuarios}"> <!--Muestra el mensaje que viene del back-end-->
                </div>
            </div>
        </div>

    </div>


</div>


<th:block layout:fragment="page-scripts">

</th:block>


</body>
</html>