<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:fragment="head"
      th:replace="layout/layout :: head">


    <meta charset="UTF-8">
    <title>Menu principal</title>
</head>
<body>
<!-- Page content-->
<div class="container-fluid" layout:fragment="page-content">
    <h1 th:text="${tituloDeLaPagina}"/> <!--Muestra el mensaje que viene del back-end-->
</div>


<th:block layout:fragment="page-scripts">

</th:block>


</body>
</html>